header {
    background-color: #be3434c1;
    color: white;
    
  }
  
  body {
    
    background-color: #f2f2f2;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  h1 {
    margin-right: 20px;
    text-align: center;
  }
  h2 { 
    margin-right: 20px;
    text-align: center;
  }
  
  
  #task-table {
    width:75%;
    height: 300px;
    margin: auto;
    background-color: #f2f2f2;
    border-collapse: collapse;
    
  }
  
  #task-table th, #task-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    color: black;
    padding-bottom: 50px;
  }
  
  #task-table th {
    background-color: #be3434c1;
    color: white;
    
  }
  #my-footer {
    background-color: #be3434c1;
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px;
    position: absolute;
    bottom: 0;
   

  }

  #info {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  #logo {

    margin-right:100px;
  }
  #photo img {
    margin-right: 20px;
    border-radius: 50%
  }
  
  #name {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #description {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid black;
    padding: 10px;
   
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input, textarea {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 250px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }


  